<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'mycss.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container-fluid">
    <div class="navbar nav-responsive">
            <nav class="navbar navbar-inverse" style="background-color: maroon">
              <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-user"></span>{{request.user}}</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> CONTACT: bisola_akin@yahoo.com</a></li>
                    </ul>

              </div>
            </nav>
        </div>

    <div class="row">
        <div class="col-md-4"></div>
            {% block content %}

            {% endblock %}

        <div class="col-md-4">

        </div>

    </div>

</div>

</body>